<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;margin-top: 170px;">
            <img src="https://bizweb.dktcdn.net/100/393/859/themes/783522/assets/logo.png?1670239397822" alt="fail">
        </div>
        <div class="col" style=" height:580px;margin-top: 30px;">
            <div class="container">
                <h2 style="text-align: center;font-size: 50px;">SIGN UP</h2>
                <form method="POST" action="/signup" autocomplete="off" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Avata</label>
                        <input type="file" name="file" class="form-control-file border" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="test@email.com" required>
                    </div>
                    <div class="form-group">
                        <label for="username">UserName</label>
                        <input type="text" class="form-control" name="username" required placeholder="Enter Username :">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" required
                            placeholder="Enter Password :">
                    </div>
                    <div class="mb-6">
                        <button type="submit" class="btn btn-block text-uppercase btn-primary" style="margin-top: 5px;">
                            ĐĂNG kÝ
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>